# Ignore virtual environment folder
.venv/

# Ignore PyCharm/IDEA project files
.idea/

# Ignore Python cache files
__pycache__/
*.egg-info/
.DS_Store
build/

# Ignore weights folder
weights/

electron-app/
